* {
    box-sizing: border-box;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    background-color: #f9f1d7;
    border-left: 5px solid #f4c542;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}