* {
    box-sizing: border-box;
}

body {
    background-color: #fff8e1; 
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    background-color: #f9f1d7;
    border-left: 5px solid #f4c542;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}


#input {
    width: 100%;                      
    max-width: 300px;                 
    padding: 10px 15px;              
    font-size: 1rem;                  
    border: 2px solid #f4c542;       
    border-radius: 8px;               
    outline: none;                    
    transition: all 0.3s ease;       
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  }
  

  #convert-button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #f4c542; 
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

#convert-button:hover {
    background-color: #f4a500; 
}

#result {
    margin-top: 20px;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    background-color: #f9f1d7; 
    border-left: 5px solid #f4c542; 
    border-radius: 8px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}